<h1>Listing catogories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catogories.each do |catogory| %>
      <tr>
        <td><%= catogory.name %></td>
        <td><%= link_to 'Show', catogory %></td>
        <td><%= link_to 'Edit', edit_catogory_path(catogory) %></td>
        <td><%= link_to 'Destroy', catogory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catogory', new_catogory_path %>
